<% provide(:title, 'Contact') %>
<h1>Contáctanos</h1>
<!--
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
-->

<div class="hero-unit">
    <table align = "center">
      <thead>
      </thead>
      <tbody>
          <tr>
            <td><b>Oficina Lima:</b></td>
            <td>Dean Valdivia 148, Piso 11, San Isidro</td>
          </tr>
          <tr>
            <td></td>
            <td>Edificio Platinum Plaza 1</td>
          </tr>
          <tr>
            <td></td>
            <td>Teléfonos: (511) 7118329 / (511) 4645978</td>
          </tr>
          <tr>
            <td></td>
            <td>Celular: 994 355 561</td>
          </tr>
          <tr>
            <td><b>Oficina Arequipa: </b></td>
            <td>Urb. Santo Domingo 2da. Etapa F-4</td>
          </tr>
          <tr>
            <td></td>
            <td>José Luis Bustamante y Rivero</td>
          </tr>
          <tr>
            <td></td>
            <td>Teléfono: (5154) 463527</td>
          </tr>
          <tr>
            <td></td>
            <td>Celular: 994 355 561</td>
          </tr>
          <tr>
            <td><b>E-mail:</b></td>
            <td>jrojas@cintesa.com.pe</td>
          </tr>
      </tbody>
    </table>
</div>