<% provide(:title, 'Minería') %>

<div class = "justify hero-unit">
  <h3>SERVICIOS</h3>
  <ul class="list">
    <li>Asesoría en el proceso de formalización (concesiones propias o de terceros) para acercarlos a los beneficios del sistema y de la modernidad.</li>
    <li>Asesoría en Actos documentarios, para asegurar que la información relacionada con su negocio genere confianza y permita el acceso al crédito y la inversión.</li>
    <li>Administración de sus activos</li>
    <li>Contabilidad minera</li>
    <li>Tributación minera y Derecho empresarial</li>
    <li>Asesoría laboral</li>
    <li>Contratos mineros (regalías)</li>
    <li>Orientación en la venta de minerales</li>
  </ul>
</div>

<div class = "center">
  <%= image_tag("work_1.jpg", alt: "Simposium Contable y de Auditoría del Sector Minero Energético" , :align => "center") %>
</div>

<div class = "justify hero-unit">
  <ul class = "list">
    <li>Ayuda técnica en minería (geología y técnicas mineras)</li>
    <li>Servicios legales en minería y relaciones comunitarias</li>
    <li>Gestión financiera y asesoría en planes de inversión o crecimiento de sus negocios</li>
    <li>Análisis de Sensibilidad de sus negocios (stress test y evaluación de riesgos)</li>
    <li>Sistema de Control interno</li>
    <li>Presupuestos y controles presupuestarios</li>
    <li>Auditorías financiera, laboral y tributaria</li>
    <li>Asociación con nuestro equipo para desarrollar proyectos de innovación para la minería responsable</li>
  </ul>
</div>

<div class = "center">
  <%= image_tag("work_2.jpg", alt: "Personal de CINTESA en  Antilla y Cotabambas") %>
</div>