<% provide(:title, 'Servicios') %>

<div class = "justify hero-unit">
  <h3>SERVICIOS</h3>
  <ul class="list">
    <li>Asesoría, supervisión y gestión contable</li>
    <li>Asesoría en Actos documentarios, para asegurar que la información relacionada con su negocio, genere confianza y permita el acceso al crédito y la inversión.</li>
    <li>Administración de sus activos</li>
    <li>Costos y pasivos laborales</li>
    <li>Asesoría laboral, seguridad y salud ocupacional</li>
    <li>Asesoría tributaria y Derecho empresarial</li>
    <li>Gestión financiera y asesoría en planes de inversión o crecimiento de sus negocios</li>
    <li>Presupuestos y controles presupuestarios</li>
    <li>Flujos de costos operativos (Cash Cost)</li>
    <li>Flujos de caja (Cash Flow)</li>
    <li>Análisis de Sensibilidad de sus negocios (stress test y evaluación de riesgos)</li>
    <li>Sistema de Control interno</li>
    <li>Auditorías financiera, laboral y tributaria</li>
  </ul>
</div>

<div class = "justify hero-unit">
  <h3>VALOR AGREGADO DE NUESTROS SERVICIOS</h3>
  <ul class="list">
    <li>Resultado económico por vehículo (rendimiento).</li>
    <li>Análisis del consumo de combustible y lubricantes por vehículo.</li>
    <li>Consumo de Repuestos y Mantenimiento por vehículo.</li>
    <li>Razonabilidad del gasto de sus vehículos (gastos versus kilometraje recorrido).</li>
    <li>Ficha técnica de control por vehículo.</li>
    <li>Control en el uso de sus activos.</li>
    <li>Gestión de inventarios</li>
    <li>Análisis comparativo de gastos (por sectores, por rutas, etc.)</li>
    <li>Indicadores de gestión y políticas de riesgos</li>
    <li>Evaluación de riesgo de caja</li>
    <li>Gestión financiera.</li>
    <li>Información para dueños o accionistas</li>
  </ul>
</div>